@{
    ViewBag.Title = "Home Page";
}
<style>

    .container2 {
        display: flex;
        flex-direction: row;
        align-items: flex-start; 
        flex-wrap:wrap;
    }

    .layout-margen {
        flex: 1; 
        padding: 0; 
    }

    .sidebar {
        position: relative;
        padding: 40px;
        background-color: rgba(255, 255, 255, 0.8); 
        margin: 40px 0px;
        
        width:20%;
        border-radius: 12px;
        box-shadow: 0 8px 16px rgba(0, 0, 50, 0.1);
        margin-right: 20px;
        display: block;
    }

</style>

<div class="container2">
    <main style="margin-right:10px; margin-left: 20px;">

        <div class="layout-margen">
            <div>
                <div style="text-align:center; margin-top:20px;">
                    <h2>Escuchá la Voz del Este en Vivo</h2>
                    <audio controls autoplay>
                        <source src="https://playerservices.streamtheworld.com/api/livestream-redirect/ESPECTADOR.mp3" type="audio/mpeg">
                        Tu navegador no soporta el elemento de audio.
                    </audio>
                </div>

                <div class="row">
                    <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                        <h2 id="gettingStartedTitle">Getting started</h2>
                        <p>
                            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                            enables a clean separation of concerns and gives you full control over markup
                            for enjoyable, agile development.
                        </p>
                        <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                    </section>
                    <section class="col-md-4" aria-labelledby="librariesTitle">
                        <h2 id="librariesTitle">Get more libraries</h2>
                        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                        <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
                    </section>
                    <section class="col-md-4" aria-labelledby="hostingTitle">
                        <h2 id="hostingTitle">Web Hosting</h2>
                        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                        <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                    </section>
                </div>
            </div>
        </div>

    </main>
    <aside class="sidebar">
        <h2>Sidebar</h2>
        <ul>
            <li><a href="#">Enlace 1</a></li>
            <li><a href="#">Enlace 2</a></li>
            <li><a href="#">Enlace 3</a></li>
        </ul>
    </aside>
    
</div>





