
@model List<EmisoraVozDelEste.Models.Cotizaciones>

@{
    ViewBag.Title = "Cotizaciones";
}

<h2 class="text-center my-4">Cotizaciones del Dólar (USD)</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Moneda</th>
            <th>Valor</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TipoMoneda</td>
                <td>@(item.Valor?.ToString("N6"))</td>
                <td>@(item.Fecha?.ToString("dd/MM/yyyy HH:mm"))</td>
            </tr>
        }
    </tbody>
</table>


