@model EmisoraVozDelEste.Models.Programas

@{
    ViewBag.Title = "Sala del Programa";
}

<h2>@Model.Nombre</h2>

<div>
    <p>Radio</p>

    <hr />

    <h4>Deja tu comentario</h4>
    <textarea class="form-control" rows="4" placeholder="Escribe tu comentario..."></textarea>
    <button class="btn btn-primary mt-2">Enviar</button>
</div>
